<li class="{{ comment_class }}">
  <div class="comment-body">
    <p>
      <strong>{{ comment.author_name }}</strong>
    </p>
    <p>{{ comment.comment_text }}</p>
    <em>{{ comment.added_date }}</em>
  </div>
  <ul class="{{ replies_class }}">
    {% for reply in comment.comment_set.all %}
      {% with comment=reply comment_class=reply_class replies_class=nested_replies_class %}
        {% include "articles/comment.html" %}
      {% endwith %}
    {% endfor %}
  </ul>
  <form class="comment-form hidden-field" action="{% url 'reply_to_comment' article.id comment.id %}" method="post">
    {% csrf_token %}
    <input type="text" required placeholder="Your name" name="replier_name"><br>
    <textarea name="replier_text" required placeholder="Comment text" cols="30" rows="10"></textarea><br>
    <button type="submit">Reply</button>
  </form>
  <button class="reply-button">Reply</button>
</li>