{% extends 'base.html' %}

{% block title %}Create new article{% endblock %}

{% block styles %}
<style>
  .return-button {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .return-button:hover {
    background-color: #45a049;
  }
</style>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
   <div>
      <a href="{% url 'articles:home' %}" class="return-button">Return to Articles List</a>

      <form action="{% url 'articles:create'%}" method="post">
         {% csrf_token %}
         <input type="text" required placeholder="Title name" name="art_name"><br>
         <textarea name="art_content" required placeholder="Title text" cols="30" rows="10"></textarea><br>
         <button type="submit">Create article</button>
      </form>
   </div>
</div>
{% endblock %}
