{% extends 'base.html' %}

{% block title %}Last articles{% endblock %}

{% block styles %}
<style>
    .article-title {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }

    .content-container {
        text-align: center;
        margin-top: 20px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .update-button,
    .delete-button,
    .create-button {
        border: none;
        color: white;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px;
        cursor: pointer;
        border-radius: 4px;
        width: 100px;
        height: 30px;
    }

    .update-button {
        background-color: blue;
    }

    .delete-button {
        background-color: red;
    }

    .create-button {
        background-color: #4CAF50;
        width: auto;
    }

    .update-button:hover,
    .delete-button:hover,
    .create-button:hover {
        opacity: 0.8;
    }
</style>
{% endblock %}

{% block content %}
    {% if latest_articles_list %}
        <div class="content-container">
            {% for article in latest_articles_list %}
                <a href="{% url 'articles:detail' article.id %}" class="article-title">{{ article.article_title }}</a>
                <div class="button-container">
                    <form action="{% url 'articles:update' article.id %}" method="get" class="form-group">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="submit" class="update-button">Update</button>
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'articles:delete' article.id %}" method="post" class="form-group">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="submit" class="delete-button">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>Articles not found</p>
    {% endif %}
    <div class="button-container">
        <form action="{% url 'articles:create'%}" method="get" class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" class="create-button">Create article</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
